
<script>
export default {
  props: {
    block: {
      type: Object,
      required: true
    }
  }
};
</script>

<template>
  <div>
    <b-row v-for="(item, index) in block.data.items" :key="index">
      <b-col cols="8">
        <strong>{{ (index+1) }}. {{ item.title }}</strong>
        <div v-if="item.tags.length">
          <b-badge v-for="(tag, tagindex) in item.tags" :key="tagindex" pill variant="secondary">
            {{ tag }}
          </b-badge>
        </div>
      </b-col>
      <b-col :title="item.value_tooltip" class="text-right">
        {{ item.value }}
      </b-col>
    </b-row>
  </div>
</template>
