<script>
import ListBlock from '../list_block/list_block.vue';
import GraphBlock from '../graph_block/graph_block.vue';
import VisualDiffBlock from '../vdiff_block/vdiff_block.vue';

export default {
  components: {
    ListBlock,
    GraphBlock,
    VisualDiffBlock
  },
  props: {
    block: {
      type: Object,
      required: true
    }
  },
  computed: {
    blockComponent() {
      if (this.block.blockType === 'list') {
        return 'list-block';
      } else if (this.block.blockType === 'graph') {
        return 'graph-block';
      } else if (this.block.blockType === 'image_diff') {
        return 'visual-diff-block';
      } else {
        return '';
      }
    }
  },
  methods: {
    toggleVisible: function() {
      this.block.expanded = !this.block.expanded;
    }
  }
};
</script>

<template>
  <b-card
    no-body
  >
    <b-card-header style="cursor: pointer;" @click.stop="toggleVisible()">
      <svg v-if="block.icon === 'success'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" class="s24 success"><g fill-rule="evenodd"><path d="M0 7a7 7 0 1 1 14 0A7 7 0 0 1 0 7z"></path><path d="M13 7A6 6 0 1 0 1 7a6 6 0 0 0 12 0z" fill="#FFF"></path><path d="M6.278 7.697L5.045 6.464a.296.296 0 0 0-.42-.002l-.613.614a.298.298 0 0 0 .002.42l1.91 1.909a.5.5 0 0 0 .703.005l.265-.265L9.997 6.04a.291.291 0 0 0-.009-.408l-.614-.614a.29.29 0 0 0-.408-.009L6.278 7.697z"></path></g></svg>
      <svg v-if="block.icon === 'warning'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="s24 warning"><path d="M9.429 5.5c0-.471.314-.786.785-.786h1.572c.471 0 .785.315.785.786v6.286c0 .471-.314.785-.785.785h-1.572c-.471 0-.785-.314-.785-.785V5.5m0 9.429c0-.472.314-.786.785-.786h1.572c.471 0 .785.314.785.786V16.5c0 .471-.314.786-.785.786h-1.572c-.471 0-.785-.315-.785-.786v-1.571"></path></svg>
      {{ block.title }}
    </b-card-header>
    <b-card-body v-if="block.expanded">
      <component 
        :is="blockComponent"
        :block="block"
      />
    </b-card-body>
  </b-card>
</template>

<style>
svg.s24 {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

svg.success {
  fill: #1aaa55;
}

svg.warning {
  border: 1px solid #fc9403;
  border-radius: 50%;
  fill: #fc9403;
}
</style>
