<script>
import VueReport from '../../src/vue_report.vue';

export default {
  components: {
    VueReport
  },
  data: () => {
    return {
      currentReport: null
    };
  },
  async asyncData({ $axios }) {
    const currentReport = await $axios.$get('/reports/basic.report.json');
    return { currentReport };
  }
};
</script>

<template>
  <section class="container">
    <div>
      <vue-report v-if="currentReport" :report="currentReport" />
    </div>
  </section>
</template>
