
<script>
export default {
  props: {
    thumbnailSrc: {
      type: String,
      required: true
    },
    bigSrc: {
      type: String,
      required: true
    },
    alt: {
      type: String,
      default: ''
    }
  }
};
</script>

<template>
  <div>
    <b-img v-b-modal="`img-modal-${thumbnailSrc}`" :src="thumbnailSrc" fluid :alt="alt" style="cursor: pointer;" />
    <b-modal 
      :id="`img-modal-${thumbnailSrc}`"
      :title="alt"
      size="xl"
      centered
      lazy
      hide-footer
      class="modal-fullscreen"
    >
      <b-img :src="bigSrc" fluid :alt="alt" />
    </b-modal>
  </div>
</template>

<style>
.modal-fullscreen .modal-dialog.modal-xl {
  max-width: 98%;
}
</style>
