
<script>
import ImageZoom from './image_zoom.vue';

export default {
  components: {
    ImageZoom
  },
  props: {
    block: {
      type: Object,
      required: true
    }
  }
};
</script>

<template>
  <div>
    <b-row>
      <b-col>
        <image-zoom :thumbnail-src="block.goldenImage" :big-src="block.goldenImage" alt="Gold image" />
      </b-col>
      <b-col>
        <div v-if="block.diffImage">
          <image-zoom :thumbnail-src="block.diffImage" :big-src="block.diffImage" alt="Test Run image" />
          <div class="text-center">
            <small>{{ block.diffAreas.length }} differences</small>
          </div>
        </div>
        <div v-if="!block.diffImage" class="text-center align-middle">
          <strong>Exactly the same</strong>
        </div>
      </b-col>
    </b-row>
    <div class="text-center">
      <a 
        :href="block.url"
        target="_blank"
      >
        {{ block.url }}
      </a>
    </div>
  </div>
</template>
