<script>
import Block from './components/block/block.vue';

export default {
  components: {
    Block
  },
  props: {
    report: {
      type: Object,
      required: true,
      default: () => {}
    }
  }
};
</script>

<template>
  <div v-if="report">
    <h1>{{ report.title }}</h1>
    <div>
      <block v-for="(block, index) in report.blocks" :key="index" :block="block" class="mb-2" />
    </div>
  </div>
  <div v-else>
    No report assigned
  </div>
</template>
